/* Header starts here */
@media (min-width: 320px) and (max-width: 992px) {
    header .addText {
        text-align: center;
        padding: 5px 0;
        font-size: 12px;
    }
    header .socialLinks {
        padding: 4px 0;
    }
    header .socialLinks ul {
        text-align: center;
    }
    header .welcomeText {
        clip-path: none;
    }
    /* header{
        background-color: transparent;
    } */
    header .socialLinks ul li {
        margin-right: 0;
    }
    header .socialLinks ul li::after,
    header .socialLinks ul li::before,
    header .socialLinks ul li a::before,
    header .socialLinks ul li a::after{
        transition: all linear 0.3s;
    }
    header .socialLinks ul li:hover::after,
    header .socialLinks ul li:hover::before,
    header .socialLinks ul li:hover a::before,
    header .socialLinks ul li:hover a::after {
        transform: scale(1.2);
    }
    nav #myCusNav ul li a {
        font-size: 14px;
        padding: 5px 0;
        text-align: center;
}
    }
    nav #myCusNav ul li::after,
    nav #myCusNav ul li::before,
    nav #myCusNav ul li a::after,
    nav #myCusNav ul li a::before{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    header .addText p{
        font-size: 12px;
    }
    header .socialLinks ul li {
        margin-left: 10px;
    }
}
/* Header Ends here */

/* nav starts here */

/* nav ends here */