/* Header starts here */
@media (min-width: 320px) and (max-width: 992px) {
    header .addText {
        text-align: center;
        padding: 5px 0;
        font-size: 12px;
    }
    header .socialLinks {
        padding: 4px 0;
    }
    header .socialLinks ul {
        text-align: center;
    }
    header .welcomeText {
        clip-path: none;
    }
    /* header{
        background-color: transparent;
    } */
    header .socialLinks ul li {
        margin-right: 10px;
    }
    header .socialLinks ul li:hover::after,
    header .socialLinks ul li:hover::before,
    header .socialLinks ul li:hover a::before,
    header .socialLinks ul li:hover a::after {
        transform: scale(1.2);
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    header .addText p{
        font-size: 12px;
    }
    header .socialLinks ul li {
        margin-left: 10px;
    }
}
/* Header Ends here */