@media (min-width: 576px) and (max-width: 768px){
    #portfolio {
       .portfolio_img{
           padding: 6px!important;
          .portfolio_info {
            h4 {
                font-size: 14px;
                padding-bottom: 0px;
                margin-top: 80px;
            }
            p{
                font-size: 12px;
            }
          }   
        }
    }
}
@media (min-width: 320px) and (max-width: 420px){
    #portfolio {
       .portfolio_img{
           padding: 30px 60px!important;
           span{
            height: 100%;
            width: 100%;
           }
          .portfolio_info {
            h4 {
                font-size: 16px;
                padding-bottom: 0px;
                margin-top: 120px;
            }
            p{
                font-size: 14px;
            }
          }   
        }
    }
}
@media (min-width: 420px) and (max-width: 576px){
    #portfolio {
       .portfolio_img{
           padding: 20px 40px!important;
           span{
            height: 100%;
            width: 100%;
           }
          .portfolio_info {
            h4 {
                font-size: 16px;
                padding-bottom: 0px;
                margin-top: 220px;
            }
            p{
                font-size: 14px;
            }
          }   
        }
    }
}